* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: black;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.search-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: clamp(200px, 90%, 800px);
}
.input-weather {
  font-size: large;
  width: 42rem;
  height: 2rem;
}
.search-btn {
  width: 7rem;
  height: 2rem;
}
.main-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  width: clamp(200px, 90%, 800px);
  min-height: 26vh;
}
.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.temp-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.location-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 26vh;
  width: clamp(200px, 90%, 800px);
  text-align: center;
}
.text-l {
  font-size: 2em;
}
.text-m {
  font-size: 1.2em;
}
.bottom-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: clamp(200px, 80%, 800px);
}
.bottom-container > div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  height: 9rem;
  width: 9rem;
}
